# Xcode
#
build/
DerivedData/
*.xccheckout
*.xcscmblueprint
*.xcresult
*.playground

# User-specific Xcode files
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# macOS / general
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.swp
*.lock
*.tmp
*.log
*.stackdump

# Editors
.vscode/
.idea/
*.sublime-workspace



